################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Voronoi-Delaunay/obj
/Voronoi-Delaunay/bin
